mode: rule
log-level: debug
port: 7897

proxies:
  - name: USA-amazon
    type: ss
    server: 54.188.20.137
    port: 8488
    cipher: chacha20-ietf-poly1305
    password: 8888
    udp: false

rules:
  - RULE-SET,google,USA-amazon
  - RULE-SET,github,USA-amazon
  - RULE-SET,openai,USA-amazon
  - RULE-SET,x,USA-amazon
  - RULE-SET,claude,USA-amazon
  - RULE-SET,cursor,USA-amazon
  - RULE-SET,docker,USA-amazon
  - RULE-SET,other,USA-amazon
  - MATCH,DIRECT

rule-providers:
  google:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,www.youtube.com # YouTube
      - DOMAIN,www.google.com # Google
      - DOMAIN,i.ytimg.com
      - DOMAIN,gemini.google.com # Gemini
      - DOMAIN,lh3.googleusercontent.com
      - DOMAIN,www.gstatic.com
      - DOMAIN,clients4.google.com
      - DOMAIN,aistudio.google.com
      - DOMAIN,safebrowsing.googleapis.com # Antigravity
      - DOMAIN,signaler-pa.clients6.google.com # Antigravity
      - DOMAIN,daily-cloudcode-pa.sandbox.googleapis.com # Antigravity
      - DOMAIN,mtalk.google.com # Antigravity
      - DOMAIN,www.googleapis.com # Antigravity
      - DOMAIN,content-autofill.googleapis.com
      - DOMAIN,oauth2.googleapis.com
      - DOMAIN,optimizationguide-pa.googleapis.com
      - DOMAIN,accounts.google.com
      - DOMAIN-SUFFIX,youtube.com
      - DOMAIN-SUFFIX,googlevideo.com

  github:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,github.com
      - DOMAIN,raw.githubusercontent.com
  openai:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,chatgpt.com
      - DOMAIN,ab.chatgpt.com
      - DOMAIN,auth.openai.com
      - DOMAIN,ios.chat.openai.com
  x:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,x.com
      - DOMAIN,api.x.com
      - DOMAIN,grok.com
      - DOMAIN,ton.local.twitter.com
      - DOMAIN,api.twitter.com
  docker:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,hub.docker.com
  claude:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,claude.ai
      - DOMAIN,code.claude.com
      - DOMAIN,docs.claude.com
      - DOMAIN,claude.com
  cursor:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,api2.cursor.sh
  other:
    type: inline
    behavior: classical
    payload:
      - DOMAIN,shadowsocks.org
      - DOMAIN,lmarena.ai
      - DOMAIN,axios-http.com
      - DOMAIN,cloud.dify.ai
      - DOMAIN,ollama.com
